<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>AI Knowledge Assistant</title>

    <script src="https://cdn.tailwindcss.com"></script>

    <link rel="stylesheet" href="/static/style.css">

</head>

<body class="bg-gray-950 text-white min-h-screen">

    <div class="max-w-5xl mx-auto p-10">

        <h1 class="text-5xl font-bold mb-6">
            📘 Personal Knowledge Base Assistant
        </h1>

        <p class="text-gray-400 mb-10">
            Upload multiple PDFs and ask questions using local AI.
        </p>

        <!-- PDF Upload -->

        <div class="mb-6">

            <label class="block mb-2 text-lg">
                Upload PDFs
            </label>

            <input
                type="file"
                id="pdfFile"
                multiple
                class="w-full p-3 rounded bg-gray-800 border border-gray-700"
            >

        </div>

        <!-- Question -->

        <div class="mb-6">

            <label class="block mb-2 text-lg">
                Ask a Question
            </label>

            <input
                type="text"
                id="question"
                placeholder="What is RAG?"
                class="w-full p-4 rounded bg-gray-800 border border-gray-700"
            >

        </div>

        <!-- Button -->

        <button
            id="askBtn"
            class="bg-blue-600 hover:bg-blue-700 px-6 py-3 rounded text-lg"
        >
            Ask AI
        </button>

        <!-- Loading -->

        <div
            id="loading"
            class="hidden mt-6 text-yellow-400"
        >
            Processing PDFs and generating answer...
        </div>

        <!-- Answer -->

        <div
            id="answer"
            class="mt-10 p-6 rounded bg-gray-900 border border-gray-700 whitespace-pre-wrap"
        >
        </div>

        <!-- Sources -->

        <div
            id="sources"
            class="mt-6 text-gray-300"
        >
        </div>

    </div>

    <script src="/static/app.js"></script>

</body>

</html>s